In [9]:
import pandas as pd
import gc

In [10]:
gc.collect()

80

In [11]:
train_df = pd.read_csv("./train_set.csv",sep="\t",nrows=100)

In [12]:
train_df.head()

   label                                               text
0      2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
1     11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
2      3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
3      2  7159 948 4866 2109 5520 2490 211 3956 5520 549...
4      3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...

In [13]:
label_df = train_df[["label"]]

In [14]:
label_df.head()

   label
0      2
1     11
2      3
3      2
4      3

In [15]:
print("hello word")

hello word

In [2]:
print("test")

test